<div class="hero-unit">
	<h2>Make your code</h2>
	<form id="lastfm" class="form-horizontal">
		<fieldset>
			<div class="control-group">
	        	<label class="control-label" for="nick">Nick on twitter.com/#!/</label>
	        	<div class="controls">
	        		 <input type="text" maxlength="64" id="nick" class="input-xlarge" />	
	    		</div>
	    	</div>
			<div class="control-group">
	        	<label class="control-label" for="nick">Theme:</label>
	        	<div class="controls">
	        		 <select id="theme">
	        		 	<option value="indark">In Dark</option>	        		
        		 	</select>	        		
	    		</div>
    		</div>
    	</fieldset>				
	</form>
	<p><a class="btn btn-primary btn-large" id="generate_btn">Get code for a picture &raquo;</a></p>
	<div id="code_gen" style="display:none">
		<p>Copy and paste to forum</p>
		<textarea id="code" style="width:90%;height:32px"></textarea><br/>
		<img src="" id="preview" alt="" />
	</div>
</div>

<script type="text/javascript">
$(function() {
	$('#generate_btn').click( function(){
		var nick = $('#nick').val();
		if( nick == '' ){
			alert('You forget your nick?');
			$('#nick').focus();
			return;
		}		
		var theme = $('#theme').val();
		$('#code').val( '[url=http://twitterbar.heroku.com][img]http://twitterbar.heroku.com/twit/'+theme+'/'+nick+'.gif[/img][/url]' );
		$('#preview').attr( 'src', '/twit/'+theme+'/'+nick );
		$('#code_gen').show('slow'); 
	});
});
</script>

<hr />
